
<div class="row"> 
  
  <div class="col-md-offset-2 col-md-8 text-center">
    <font color="red" face="Dotum">너의 인생 갓겜을 알려주겟음ㅇㅇ</font>
    
 
<div class="row">

    <div class="col-md-offset-4 col-md-4 text-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">game</button>

    </div>

</div>



<!-- Modal Page -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">

  <div class="modal-dialog modal-sm" role="document">

    <div class="modal-content text-center" style="padding: 60px">

      <p><%= @games.sample %></p>

    </div>

  </div>

</div>